.main-text {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
}
.main-text > p {
  font-style: oblique;
}
.custom-figure-self {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cowboys-card {
  background: #002244;
}

.project-container {
  background-color:#c0c0c0;
}
.project-header {
  text-align: center;
}
@media(max-width: 800px) {
  .custom-flex-row {
    display: flex;
    flex-direction: column;
  }
  .main-text {
    position: static;
    left: auto;
    top: auto;
    transform: none;
    padding: 10px;
  }

}